// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//hover states on player index
     #player-index-table { 

        tr:hover {

            background-color: #38003c;

                & td {
                    color: #FFFFFF;
                }
            }
        }    
